{
  "name": "@OWNER_PLACEHOLDER/hackarena3-proto",
  "version": "VERSION_PLACEHOLDER",
  "description": "Generated Protobuf client code",
  "main": "index.js",
  "types": "index.d.ts",
  "files": [
    "**/*"
  ],
  "dependencies": {
    "@bufbuild/protobuf": "^1.6.0"
  },
  "publishConfig": {
    "registry": "https://npm.pkg.github.com"
  }
}